@model IEnumerable<QLTaiChinh.Data.DanhMuc>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenDanhMuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiDanhMuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanhMucCha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiDung)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDanhMuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiDanhMuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanhMucCha.DanhMucId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiDung.NguoiDungId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DanhMucId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DanhMucId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DanhMucId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
